<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <title>The Lavender Field</title>
</head>
<body>

    <header>
        <h1 class="logo" id="logo-header">The Lavender Field</h1>
        <input type="checkbox" id="nav-toggle" name="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label"><i id="bars" class="fa-solid fa-bars" style="color: #000000;"></i></label>
        <nav id="menu">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('booking') }}">Book a Table</a></li>
                <li><a href="{{ url_for('menus') }}">Menus</a></li>
            </ul>
            <img id="navbar-image" src="../static/images/Lavender-PNG-Cutout.png" alt="Image of some Lavender">
        </nav>  
    </header>

    {% block content %}
    {% endblock %}

    <!--<footer>
        <div class="logo" id="logo-footer">
            <h2>The Lavender Field</h2>
        </div>
        <div id="socials">
            <ul>
                <li><a href="https://en-gb.facebook.com/" target="_blank" rel="noopener" aria-label="Visit our facebook page (opens in new tab)" ><i class="fa-brands fa-facebook" style="color: #000000;"></i></a></i></li>
                <li><a href="https://twitter.com/home"  target="_blank"  rel="noopener" aria-label="Visit our Twitter page (opens in new tab)"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>
                <li><a href="https://www.instagram.com/"  target="_blank" rel="noopener" aria-label="Visit our instagrampage (opens in new tab)"><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a></li>
                <li><a href="https://www.tiktok.com/en/" target="_blank" rel="noopener" aria-label="Visit our tiktok page (opens in new tab)"><i class="fa-brands fa-tiktok" style="color: #000000;"></i></a></li>
            </ul>
        </div>
    </footer>-->

    <script src="https://kit.fontawesome.com/bf524db846.js" crossorigin="anonymous"></script>
</body>
</html>