{% extends "base.html" %}
{% block content %}
<section id="hero">
    <div id="cover-text"><h2>-Fine dining in Birmingham-</h2></div>
</section>
<section id="hours">
    <div id="opening-times">
        <div><h3>Opening Hours</h3></div>
            <table>
                <tr>
                    <th>Day</th>
                    <th>Opening Hours</th>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>12:00 PM - 10:00 PM</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>12:00 PM - 10:00 PM</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>12:00 PM - 10:00 PM</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>12:00 PM - 10:00 PM</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>12:00 PM - 10:30 PM</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>12:00 PM - 10:30 PM</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>Closed</td>
                </tr>
            </table> 
    </div>
    <div id="opening-times-phone">
        <div><h3>Opening Hours</h3></div>
        <table>
            <tr class="underline">
                <th>Day</th>
                <th>Opening Hours</th>
            </tr>
            <tr>
                <th>Monday - Thursday</th>
                <th>12:00 PM - 10:00 PM</th>
            </tr>
            <tr>
                <th>Friday - Saturday</th>
                <th>12:00 PM - 10:30 PM</th>
            </tr>
        </table>
    </div>
    <div id="opening-times-image"></div>
</section>

{% endblock %}