{% extends "base.html" %}
{% block content %}
<section id="customer-menu">
    <h1 class="underline">Menu</h1>
    <div>
        <h2 class="underline">Appetizers:</h2>
        <ul>
            <li>Seared Scallop Salad - £14.00</li>
            <li>Foie Gras Mousse - £17.00</li>
            <li>Truffle Risotto - £12.00</li>
        </ul>

        <h2 class="underline">Main Courses:</h2>
        <ul>
            <li>Filet Mignon - £30.00</li>
            <li>Pan-Seared Halibut - £25.00</li>
            <li>Wild Mushroom Ravioli - £20.00</li>
        </ul>

        <h2 class="underline">Desserts:</h2>
        <ul>
            <li>Chocolate Lava Cake - £9.00</li>
            <li>Crème Brûlée - £7.00</li>
            <li>Lemon Tart - £11.00</li>
        </ul>

        <h2 class="underline">Beverages:</h2>
        <p>Wine Pairings:</p>
        <ul>
            <li>Prices vary depending on the selected wine, ranging from £7.00 to £20.00 per glass.</li>
        </ul>

        <p >Signature Cocktails:</p>
        <ul>
            <li>£10.00 to £14.00 per cocktail.</li>
        </ul>

        <p>Digestifs:</p>
        <ul>
            <li>Prices vary depending on the selected liqueur or spirit, ranging from £6.00 to £15.00 per serving.</li>
        </ul>
    </div>
</section>
{% endblock %}